* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #fff;
  --red: #f70205;
  --white-hover: #ffffffb9;
}

body {
  background: var(--black);
  color: var(--white);
}

h2 {
  font-weight: 600;
  letter-spacing: 1px;
}

.show {
  display: block;
}

/* Home page Navbar start */
.homepage_navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.homepage_navbar h2 {
  text-transform: uppercase;
}

.homepage_navbar .homepage_navbar_desktop_view {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.homepage_navbar .homepage_navbar_mobile_view {
  display: none;
}

.homepage_navbar #hamburger,
.homepage_navbar #close {
  display: none;
  background: inherit;
  border: none;
  font-size: 35px;
  cursor: pointer;
}

.homepage_navbar .homepage_navbar_desktop_view li {
  padding: 10px;
  background: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.homepage_navbar .homepage_navbar_desktop_view li:hover {
  background: var(--white-hover);
}

.homepage_navbar .homepage_navbar_desktop_view li a {
  text-decoration: none;
  color: var(--black);
  text-transform: capitalize;
}

@media (max-width: 450px) {
  .homepage_navbar .homepage_navbar_desktop_view li {
    padding: 10px 5px;
  }

  .homepage_navbar .homepage_navbar_desktop_view {
    display: none;
  }

  .homepage_navbar #hamburger {
    display: block;
  }

  .homepage_navbar .homepage_navbar_mobile_view {
    display: block;
    position: fixed;
    top: 70px;
    right: 20px;
    background: var(--white);
    max-width: 200px;
    width: 100%;
    padding: 10px 0;
    list-style: none;
    border-radius: 5px;
    display: none;
  }

  .homepage_navbar .homepage_navbar_mobile_view li {
    cursor: pointer;
    width: 100%;
    padding: 0 0 0 10px;
  }

  .homepage_navbar .homepage_navbar_mobile_view li:not(:nth-of-type(2)) {
    margin-bottom: 10px;
  }

  .homepage_navbar .homepage_navbar_mobile_view li a {
    text-decoration: none;
    color: var(--black);
    font-size: 17px;
  }
}
/* Home page Navbar start */
