* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --section-height: calc(100dvh - 100px);
}

body {
  background-color: #161616;
  color: white;
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  padding: 30px;
  backdrop-filter: blur(13px) saturate(127%);
  -webkit-backdrop-filter: blur(13px) saturate(127%);
  background-color: rgba(17, 25, 40, 0.31);
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: fixed;
  top: 0;
}
.navbar .navbar-content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-content .logo {
  font-size: 32px;
}
.navbar .navbar-content .nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
.navbar .navbar-content .nav-links li:hover {
  border-bottom: 1px solid;
}
.navbar .navbar-content .nav-links li a {
  color: white;
  text-decoration: none;
}

main {
  margin-top: 100px;
  width: 100%;
  padding: 0 30px;
}

#welcome {
  width: 100%;
}
#welcome .welcome-content {
  min-height: var(--section-height);
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
#welcome .welcome-content .firstImg {
  text-align: center;
}
#welcome .welcome-content .firstImg img {
  padding-top: 20px;
  max-width: 300px;
  width: 100%;
}
#welcome .welcome-content .text-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
#welcome .welcome-content .text-side h1 {
  font-size: 45px;
  text-align: center;
  font-weight: 800;
}
#welcome .welcome-content .text-side .search-container {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  background-color: rgb(88, 86, 86);
  border-radius: 12px;
  padding: 0 10px;
}
#welcome .welcome-content .text-side .search-container input {
  width: 100%;
  padding: 10px 0;
  border: none;
  background: inherit;
  outline: none;
  color: white;
}
#welcome .welcome-content .text-side .search-container input::-moz-placeholder {
  color: white;
}
#welcome .welcome-content .text-side .search-container input::placeholder {
  color: white;
}
#welcome .welcome-content .text-side .search-container i {
  cursor: pointer;
}
#welcome .welcome-content .secondImg {
  display: flex;
  align-items: self-end;
}
#welcome .welcome-content .secondImg img {
  padding-top: 20px;
  max-width: 300px;
  width: 100%;
}

.toggle {
  border-top: 1px solid rgb(66, 65, 65);
  border-bottom: 1px solid rgb(66, 65, 65);
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.toggle h1 {
  font-size: 30px;
  font-weight: 700;
}
.toggle button {
  cursor: pointer;
  background: inherit;
  border: none;
}
.toggle button i {
  font-size: 30px;
  color: white;
}

.hidden {
  display: none;
}

#services {
  width: 100%;
}
#services .services-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px 0;
}
#services .services-content .services-rendered {
  display: grid;
  padding: 10px 0 30px;
  grid-template-columns: 1fr;
  gap: 40px;
  border-bottom: 1px solid rgb(66, 65, 65);
  place-items: center;
}
@media (min-width: 780px) {
  #services .services-content .services-rendered {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1180px) {
  #services .services-content .services-rendered {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#services .services-content .services-rendered .service {
  max-width: 350px;
  width: 100%;
  padding: 10px;
  text-align: center;
}
#services .services-content .services-rendered .service h1 {
  margin: 10px 0;
  text-align: left;
  font-size: 25px;
  font-weight: 700;
}
#services .services-content .services-rendered .service p {
  text-align: left;
  font-size: 17px;
}

#contact {
  width: 100%;
}
#contact .contact-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
#contact .form-side {
  width: 100%;
  display: grid;
  place-items: center;
}
#contact .form-side div {
  max-width: 500px;
  width: 100%;
}
#contact .form-side div h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
#contact .form-side div p {
  font-size: 20px;
  margin-bottom: 10px;
}
#contact .form-side div form {
  margin-top: 20px;
}
#contact .form-side div form label p {
  padding: 0;
  margin: 0 0 5px;
  text-transform: capitalize;
}
#contact .form-side div form label input {
  background-color: rgb(88, 86, 86);
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  display: block;
  width: 100%;
  color: white;
}
#contact .form-side div form button {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  border-radius: 12px;
  background-color: red;
  color: white;
}

#blog {
  width: 100%;
}
#blog .blog-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}
#blog .blog-content .blog-welcome {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#blog .blog-content .blog-welcome .text-side h1 {
  font-size: 35px;
}
#blog .blog-content .blog-welcome .text-side p {
  font-size: 16px;
  margin-top: 15px;
}
#blog .blog-content .articles {
  margin-bottom: 50px;
}
#blog .blog-content .articles .switch {
  margin-bottom: 30px;
}
#blog .blog-content .articles .switch p {
  background-color: red;
  padding: 15px 30px;
  display: inline;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 700;
}
#blog .blog-content .articles .article-container .two-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#blog .blog-content .articles .article-container .two-container .article-two {
  background-color: rgba(128, 128, 128, 0.665);
  border-radius: 12px;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
}
#blog .blog-content .articles .article-container .two-container .article-two .text-side h1 {
  font-size: 16px;
  margin: 30px 0 10px;
  font-weight: 400;
}
#blog .blog-content .articles .article-container .two-container .article-two .text-side h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
#blog .blog-content .articles .article-container .two-container .article-two .text-side .detail {
  font-size: 16px;
  margin-bottom: 30px;
}
#blog .blog-content .articles .article-container .two-container .article-two .text-side .date {
  opacity: 0.6;
}
#blog .blog-content .articles .article-container .two-container .article-two .image-side {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
}
#blog .blog-content .articles .article-container .two-container .article-two .image-side img {
  width: 100%;
  height: 100%;
}
#blog .blog-content .articles .article-container .one-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#blog .blog-content .articles .article-container .one-container .article-one {
  background-color: rgba(128, 128, 128, 0.665);
  border-radius: 12px;
  width: 100%;
  text-align: center;
  padding: 20px;
}
#blog .blog-content .articles .article-container .one-container .article-one .image-side {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 20px;
}
#blog .blog-content .articles .article-container .one-container .article-one .image-side img {
  width: 100%;
  height: 100%;
}
#blog .blog-content .articles .article-container .one-container .article-one h1 {
  font-size: 16px;
  margin: 30px 0 10px;
  font-weight: 400;
}
#blog .blog-content .articles .article-container .one-container .article-one h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
#blog .blog-content .articles .article-container .one-container .article-one .detail {
  font-size: 16px;
  margin-bottom: 30px;
}
#blog .blog-content .articles .article-container .one-container .article-one .date {
  opacity: 0.6;
}

#about-us {
  width: 100%;
}
#about-us .about-us-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}
#about-us .about-us-content section {
  text-align: center;
}
#about-us .about-us-content section h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
#about-us .about-us-content section p {
  font-size: 18px;
  margin-bottom: 20px;
}
#about-us .about-us-content .about {
  padding: 20px 0 0;
}
#about-us .about-us-content .about .img {
  width: 100%;
}
#about-us .about-us-content .about .img img {
  width: 100%;
}
#about-us .about-us-content .team {
  padding-top: 50px;
}
#about-us .about-us-content .team .members-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  padding: 50px 0;
}
#about-us .about-us-content .team .members-list .member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 5px;
}
#about-us .about-us-content .team .members-list .member h1 {
  font-size: 20px;
}
#about-us .about-us-content .team .members-list .member p {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */